:root {
    --main-color: var(--green);
    --border: 3px solid var(--main-color);
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#main-container {
    display: flex;
    justify-content: center;
}

#main-app {
    width: 100%;
    max-width: 60em;
    transition: 2s;
}

h1,
p {
    text-align: center;
    margin-top: 1.5em;
}

p {
    color: var(--gray);
    font-size: 0.8em;
    margin-bottom: 3em;
}

#tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    color: white;
    border-bottom: var(--border);
    cursor: pointer;
    border-radius: 0.3em;
}

.tab {
    text-align: center;
    padding: 2em;
    font-size: 1.4em;
}

#selected-tab {
    position: relative;
    left: 0%;
    border: var(--border);
    width: 100%;
    /* animation: selectTrippieRedd 500ms forwards; */
}

@keyframes selectRodWave {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

@keyframes selectTrippieRedd {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

.song-container {
    display: flex;
    justify-content: center;
}

#rod-wave-songs,
#trippie-redd-songs {
    cursor: pointer;
    max-width: 50em;
    width: 100%;
}

.song {
    cursor: pointer;
    margin: 1em 0.5em;
    padding: 1em 2em;
    border-radius: 0.5em;
    transition: 500ms;
    border: 2px solid white;
    font-weight: 500;
}

.song:hover {
    border-color: var(--main-color);
    color: var(--main-color);
    padding-left: 10%;
}

#song-player {
    position: fixed;
    bottom: -20%;
    right: 0%;
    width: 100%;
    background-color: #000;
    padding: 1em;
    border-top: var(--border);
}

#song-player p {
    margin: 0;
    margin-bottom: 1em;
}

#song-player div {
    display: flex;
    justify-content: center;
}

@keyframes showSongPlayer {
    100% {
        bottom: 0%;
    }
}

audio {
    width: 75%;
    max-width: 30em;
}